
*,
::before,
::after {
  box-sizing: border-box;

  border-width: 0;

  border-style: solid;

  border-color: #e5e7eb;

}

::before,
::after {
  --tw-content: '';
}


html {
  line-height: 1.5;

  -webkit-text-size-adjust: 100%;

  tab-size: 4;

  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;

  font-variation-settings: normal;

    font-size: 15px;
}


body {
    margin: 0;
    line-height: inherit;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow-y: scroll;
    box-sizing: border-box;
    background-color: var(--very-light-grayish-blue);
    background-repeat: no-repeat, no-repeat;
    background-size: 26.5%, 26.5%;
    background-position:
      top 0 right -1rem,
      bottom -4.7rem left -1.9rem;
      background-image: url("/public/imagenes/bg-top.svg"), url("/public/imagenes/bg-bottom.svg");
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
  }

  body::-webkit-scrollbar {
    display: none; 
  }
  


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  
}


hr {
    width: 90%;
    border-width: 0.5px;
    margin: 0 auto;
    border-color: transparent;
    border-color: var(--light-grayish-blue);
    border-style: solid;
    opacity: 0.5;
  }



abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}


a {
  color: inherit;
  text-decoration: inherit;
}



b,
strong {
  font-weight: bolder;
}



code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  font-size: 1em;

}



small {
  font-size: 80%;
}



sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}



table {

  border-color: inherit;

  border-collapse: collapse;

}



button,
input,
optgroup,
select,
textarea {
  font-family: inherit;

  -webkit-font-feature-settings: inherit;
          font-feature-settings: inherit;

  font-variation-settings: inherit;

  font-size: 100%;

  font-weight: inherit;

  line-height: inherit;

  color: inherit;

  margin: 0;

  padding: 0;

}



button,
select {
  text-transform: none;
}



button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;

  background-color: transparent;

  background-image: none;

}


:-moz-focusring {
  outline: auto;
}



:-moz-ui-invalid {
  box-shadow: none;
}



progress {
  vertical-align: baseline;
}



::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}



[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;

}



::-webkit-search-decoration {
  -webkit-appearance: none;
}



::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}


summary {
  display: list-item;
}



blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}



dialog {
  padding: 0;
}



textarea {
  resize: vertical;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}



button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}


img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}



img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
    display: grid;
    width: 72%;
    /* grid-template-columns: repeat(3, 1fr); */
    margin: 0 auto;
    margin-top: 5.8rem;
    max-width: 1440px;
    column-gap: 0.5rem;

  }

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media screen and (max-width: 800px) {
    body {
      background-size: 80%, 26.5%;
      background-position:
        top 0 right -10rem,
        bottom -4.7rem left -1.9rem;
    }
    .container {
      width: 60%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .container {
      width: 90%;
    }
  }

.fixed {
  position: fixed;
}

.\!absolute {
  position: absolute !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-right-1\/2 {
  right: -50%;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-12 {
  bottom: 3rem;
}

.bottom-4 {
  bottom: 1rem;
}

.left-0 {
  left: 0px;
}

.left-4 {
  left: 1rem;
}

.right-10 {
  right: 2.5rem;
}

.right-3 {
  right: 0.75rem;
}

.top-0 {
  top: 0px;
}

.top-10 {
  top: 2.5rem;
}

.top-3 {
  top: 0.75rem;
}

.z-10 {
  z-index: 10;
}

.\!-m-px {
  margin: -1px !important;
}

.m-2 {
  margin: 0.5rem;
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-20 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mx-24 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-auto {
  margin-top: auto;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.\!h-px {
  height: 1px !important;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-24 {
  height: 6rem;
}

.h-3 {
  height: 0.75rem;
}

.h-32 {
  height: 8rem;
}

.h-4 {
  height: 1rem;
}

.h-40 {
  height: 10rem;
}

.h-5 {
  height: 1.25rem;
}

.h-56 {
  height: 14rem;
}

.h-64 {
  height: 16rem;
}

.h-7 {
  height: 1.75rem;
}

.h-72 {
  height: 18rem;
}

.h-8 {
  height: 2rem;
}

.h-full {
  height: 100%;
}

.h-min {
  height: -webkit-min-content;
  height: min-content;
}

.max-h-56 {
  max-height: 14rem;
}

.min-h-screen {
  min-height: 47.5vh;
}

.\!w-px {
  width: 1px !important;
}

.w-14 {
  width: 3.5rem;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-3\/4 {
  width: 75%;
}

.w-32 {
  width: 8rem;
}

.w-36 {
  width: 9rem;
}

.w-4\/5 {
  width: 80%;
}

.w-5\/12 {
  width: 41.666667%;
}

.w-56 {
  width: 14rem;
}

.w-60 {
  width: 15rem;
}

.w-64 {
  width: 16rem;
}

.w-72 {
  width: 18rem;
}

.w-8 {
  width: 2rem;
}

.w-9\/12 {
  width: 75%;
}

.w-full {
  width: 100%;
}

.w-min {
  width: -webkit-min-content;
  width: min-content;
}

.w-10\/12 {
  width: 83.333333%;
}

.w-7\/12 {
  width: 58.333333%;
}

.w-8\/12 {
  width: 66.666667%;
}

.w-24 {
  width: 6rem;
}

.w-3\/12 {
  width: 25%;
}

.w-4\/6 {
  width: 66.666667%;
}

.transform {
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.animate-spin {
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-9 {
  gap: 2.25rem;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.\!overflow-hidden {
  overflow: hidden !important;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.\!whitespace-nowrap {
  white-space: nowrap !important;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.\!border-0 {
  border-width: 0px !important;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-4 {
  border-width: 4px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-l-2 {
  border-left-width: 2px;
}

.border-t-0 {
  border-top-width: 0px;
}

.border-solid {
  border-style: solid;
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
}

.border-celeste {
  --tw-border-opacity: 1;
  border-color: rgb(32 176 207 / var(--tw-border-opacity));
}

.border-coral {
  --tw-border-opacity: 1;
  border-color: rgb(224 69 86 / var(--tw-border-opacity));
}

.border-current {
  border-color: currentColor;
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.border-red-600 {
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity));
}

.border-slate-400 {
  --tw-border-opacity: 1;
  border-color: rgb(148 163 184 / var(--tw-border-opacity));
}

.border-verde {
  --tw-border-opacity: 1;
  border-color: rgb(0 202 93 / var(--tw-border-opacity));
}

.border-r-transparent {
  border-right-color: transparent;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-celeste {
  --tw-bg-opacity: 1;
  background-color: rgb(32 176 207 / var(--tw-bg-opacity));
}

.bg-coral {
  --tw-bg-opacity: 1;
  background-color: rgb(224 69 86 / var(--tw-bg-opacity));
}

.bg-cyan-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(207 250 254 / var(--tw-bg-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-green-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(134 239 172 / var(--tw-bg-opacity));
}

.bg-red-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity));
}

.bg-rosa {
  --tw-bg-opacity: 1;
  background-color: rgb(255 241 241 / var(--tw-bg-opacity));
}

.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.bg-slate-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
}

.bg-verde {
  --tw-bg-opacity: 1;
  background-color: rgb(0 202 93 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-opacity-80 {
  --tw-bg-opacity: 0.8;
}

.\!p-0 {
  padding: 0px !important;
}

.p-1 {
  padding: 0.25rem;
}

.p-10 {
  padding: 2.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-7 {
  padding: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-11 {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}

.px-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-32 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-12 {
  padding-right: 3rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-\[-0\.125em\] {
  vertical-align: -0.125em;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.text-azul-claro {
  --tw-text-opacity: 1;
  color: rgb(100, 149, 300, var(--tw-text-opacity)); 
}

.text-coral {
  --tw-text-opacity: 1;
  color: rgb(224 69 86 / var(--tw-text-opacity));
}

.text-cyan-400 {
  --tw-text-opacity: 1;
  color: rgb(34 211 238 / var(--tw-text-opacity));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-green-600 {
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.text-slate-500 {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.text-slate-600 {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.placeholder-slate-500::-webkit-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(100 116 139 / var(--tw-placeholder-opacity));
}

.placeholder-slate-500::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(100 116 139 / var(--tw-placeholder-opacity));
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-card {
  --tw-shadow: 0px 0px 43px - 14px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: 0px 0px 43px 14px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.filter {
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, -webkit-text-decoration-color, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.\!\[clip\:rect\(0\2c 0\2c 0\2c 0\)\] {
  clip: rect(0,0,0,0) !important;
}

.shadow-card {
  box-shadow: 0px 0px 43px -14px rgba(0, 0, 0, 0.25);
}

.hover\:bg-coral:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(224 69 86 / var(--tw-bg-opacity));
}

.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.hover\:bg-rosa:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 241 241 / var(--tw-bg-opacity));
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:text-celeste:hover {
  --tw-text-opacity: 1;
  color: rgb(32 176 207 / var(--tw-text-opacity));
}

.hover\:text-coral:hover {
  --tw-text-opacity: 1;
  color: rgb(224 69 86 / var(--tw-text-opacity));
}

.hover\:text-purple-800:hover {
  --tw-text-opacity: 1;
  color: rgb(107 33 168 / var(--tw-text-opacity));
}

.hover\:text-verde:hover {
  --tw-text-opacity: 1;
  color: rgb(0 202 93 / var(--tw-text-opacity));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:text-celeste:hover {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / 0.5)
}

@media (prefers-reduced-motion: reduce) {
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  .motion-reduce\:animate-\[spin_1\.5s_linear_infinite\] {
    -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
  }
}

@media not all and (min-width: 1024px) {
  .max-lg\:right-0 {
    right: 0px;
  }

  .max-lg\:mx-8 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .max-lg\:ml-3 {
    margin-left: 0.75rem;
  }

  .max-lg\:w-5\/6 {
    width: 83.333333%;
  }

  .max-lg\:w-full {
    width: 100%;
  }

  .max-lg\:flex-col {
    flex-direction: column;
  }

  .max-lg\:flex-wrap {
    flex-wrap: wrap;
  }

  .max-lg\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .max-lg\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media not all and (min-width: 768px) {
  .max-md\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .max-md\:hidden {
    display: none;
  }

  .max-md\:w-9\/12 {
    width: 75%;
  }

  .max-md\:flex-col {
    flex-direction: column;
  }

  .max-md\:flex-col-reverse {
    flex-direction: column-reverse;
  }

  .max-md\:items-center {
    align-items: center;
  }

  .max-md\:gap-3 {
    gap: 0.75rem;
  }

  .max-md\:text-center {
    text-align: center;
  }

  .max-md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .max-md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media not all and (min-width: 640px) {
  .max-sm\:hidden {
    display: none;
  }

  .max-sm\:w-full {
    width: 100%;
  }

  .max-sm\:w-10\/12 {
    width: 83.333333%;
  }

  .max-sm\:flex-col {
    flex-direction: column;
  }

  .max-sm\:items-center {
    align-items: center;
  }

  .max-sm\:gap-4 {
    gap: 1rem;
  }

  .max-sm\:overflow-y-scroll {
    overflow-y: scroll;
  }

  .max-sm\:text-center {
    text-align: center;
  }

  .max-sm\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 640px) {
  .sm\:mx-10 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .sm\:ml-10 {
    margin-left: 2.5rem;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:w-6\/12 {
    width: 50%;
  }

  .sm\:w-11\/12 {
    width: 91.666667%;
  }

  .sm\:p-7 {
    padding: 1.75rem;
  }

  .sm\:py-28 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

@media (min-width: 768px) {
  .md\:absolute {
    position: absolute;
  }

  .md\:mx-32 {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .md\:ml-10 {
    margin-left: 2.5rem;
  }

  .md\:hidden {
    display: none;
  }

  .md\:w-7\/12 {
    width: 58.333333%;
  }

  .md\:w-8\/12 {
    width: 66.666667%;
  }
}

@media (min-width: 1024px) {
  .lg\:mx-28 {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  .lg\:mx-36 {
    margin-left: 9rem;
    margin-right: 9rem;
  }

  .lg\:ml-10 {
    margin-left: 2.5rem;
  }

  .lg\:w-6\/12 {
    width: 50%;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-1\/3 {
    width: 33.333333%;
  }

  .lg\:w-5\/12 {
    width: 41.666667%;
  }

  .lg\:w-7\/12 {
    width: 58.333333%;
  }

  .lg\:px-32 {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (min-width: 1280px) {
  .xl\:w-4\/12 {
    width: 33.333333%;
  }
}

.App {
    text-align: center;
  }
  
  .App-logo { 
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: 61dafb;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
  
  :root {
    --gradient: rgb(224, 69, 86), rgb(224, 69, 86); 
    --purple: rgb(224, 69, 86);
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
    --white: white;
    --body-font: "Montserrat", sans-serif;
    --transition: all ease-in-out 0.3s;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  

  

  
  main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
   
    margin-bottom: 5rem;
  }
  
  h1 {
    color: var(--grayish-blue);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    gap: 0.6rem;
  
  }

  
  
  .bienvenida-header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    gap: 2.6rem;
    margin-top: 20px; 
  }
  
  header a {
    color: #ecf0f1;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    transition: color 0.3s;
  }
  
  header a:hover {
    color: #bdc3c7;
  }
  
  
  nav {
    display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .toggle-area {
    border: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    width: 3.8rem;
    height: 2.3rem;
    border-radius: 25px;
    background: linear-gradient(var(--gradient));
  }
  
  .toggle-btn {
    cursor: pointer;
    position: relative;
    width: 1.7rem;
    height: 1.7rem;
    margin: 5%;
    border-radius: 50%;
    background-color: var(--very-light-grayish-blue);
  }
  
  .toggle-area.monthly {
    justify-content: flex-end;
    align-content: flex-end;
  }
  
  .toggle-area.anually {
    justify-content: flex-start;
    align-content: flex-start;
  }
  
  .toggle-section p {
    color: var(--light-grayish-blue);
  }
  
  .god {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr, 1fr ,1fr, 1fr;
    align-items: center;
    border-radius: 10px;
    padding: 2.1rem 0.8rem;
    grid-row: 1;
    column-gap: 1rem;
    
    
  }

  

  
  .mod {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns:  1fr, 1fr, 1fr;
    align-items: center;
    border-radius: 10px;
    padding: 2.1rem 0.8rem;
    grid-row: 1;
  }
  
  .container-2 {
    background: linear-gradient(var(--gradient));
    color: var(--white);
    margin-top: -1.6rem;
    margin-bottom: -1.6rem;
    padding: 3rem 1rem;
  }
  .container-1,
  .container-3 {
    background-color: var(--white);
    gap: 1.3rem;
    
  }
  
  .mod h2 {
    font-size: 1.23rem;
    font-weight: 700;
  }

  .god h2 {
    font-size: 1.23rem;
    font-weight: 700;
  }
  
  .container-1 h2,
  .container-1 li,
  .container-3 h2,
  .container-3 li {
    color: var(--light-grayish-blue);
  }
  .mod p {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0 auto;
    font-size: 4.6rem;
  }

  .god p {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0 auto;
    font-size: 4.6rem;
  }
  
  .dollar-sign {
    font-size: 2.5rem;
  }
  
  .container-1 p,
  .container-3 p {
    color: var(--dark-grayish-blue);
  }
  
  .god ul {
    list-style: none;
    margin-top: 10px;
  }
  
  .god ul li {
    padding: 1.06rem;
  }
  
  .god button {
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    padding: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    font-weight: 700;
    text-align: center;
  }


  .mod ul {
    list-style: none;
    margin-top: 10px;
  }
  
  .mod ul li {
    padding: 1.06rem;
  }
  
  .mod button {
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    padding: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    font-weight: 700;
    text-align: center;
  }
  
  .container-2 button {
    color: var(--purple);
    background-color: var(--white);
    transition: var(--transition);
  }
  .container-1 button,
  .container-3 button {
    color: var(--white);
    background: linear-gradient(var(--gradient));
    background-repeat: no-repeat;
    transition: background ease-in-out 0.3s;
    transition: color ease-in-out 0.3s;
  }
  
  @media (hover: hover) {
    .container-1 button:hover,
    .container-3 button:hover {
      background: transparent;
      border-color: var(--light-grayish-blue);
      color: var(--purple);
      border-width: 1px;
      transition: background ease-in-out 0.3s;
      transition: color ease-in-out 0.3s;
    }
    .container-2 button:hover {
      background-color: transparent;
      border-color: var(--white);
      color: var(--white);
      border-width: 1px;
      transition: var(--transition);
    }
  }
  
  @media screen and (max-width: 1025px) {
    .pricing-container {
      width: 50%;
      grid-template-columns: 1fr;
      margin-top: 5.8rem;
      gap: 5rem;
    }
  
    .container-2 {
      margin-top: initial;
      margin-bottom: initial;
    }
    .container-2 ul li {
      padding: 1.06rem;
    }
  
    .container-2 h2 {
      padding-top: initial;
    }
    .container-2 p {
      margin-top: initial;
    }
  }
  

  
  a#visualizarButton {
    display: inline-block;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--purple);
    transition: var(--transition);
    text-decoration: none;
    border-radius: 5px;
  }
  
  a#visualizarButton:hover {
    background: transparent;
    border-color: var(--light-grayish-blue);
    color: var(--purple);
    border-width: 1px;
    transition: background ease-in-out 0.3s;
    transition: color ease-in-out 0.3s;
  }
  
  a#generarButton {
    display: inline-block;
    padding: 10px 20px;
    color: var(--purple);
    background-color: var(--white);
    transition: var(--transition);
    text-decoration: none;
    border-radius: 5px;
  }
  
  a#generarButton:hover {
    background: transparent;
    border-color: var(--light-grayish-blue);
    color: var(--white);
    border-width: 1px;
    transition: background ease-in-out 0.3s;
    transition: color ease-in-out 0.3s;
  }
  
  
  
  .header-container {
    background-color: rgb(224, 69, 86); 
    padding: 1.5%; 
    text-align: center;
    width: 100%;
  }
  
  .header-container h1,
  .header-container a {
    color: white; 
    text-decoration: none;
  }
  
  .header-container a:hover {
    text-decoration: underline; 
  }
  
  
  .complaints-container {
    margin: 20px 0;
  }
  
  .complaints-container h2 {
    font-size: 24px;
    color: rgb(224, 69, 86);
  }
  
  .complaints-list {
    list-style: none;
    padding: 0;
  }
  
  .complaint {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .complaint button.resolve-btn {
    background: rgb(224, 69, 86);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .complaint button.resolve-btn:hover {
    background: #dc3545;
  }
  
  .resolution-form {
    margin-top: 20px;
  }
  
  .resolution-form h2 {
    font-size: 24px;
    color: rgb(224, 69, 86);
  }
  
  .resolution-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .resolution-form form label,
  .resolution-form form textarea {
    margin-bottom: 10px;
  }
  
  .resolution-form form button {
    padding: 8px 20px;
    background: rgb(224, 69, 86);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .resolution-form form button:hover {
    background: #dc3545;
  }
  
  
  .properties-container {
    margin: 20px 0;
    
  }
  
  .properties-container h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(224, 69, 86);
  }
  .admin-container {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(224, 69, 86);
    background-color: rgb(224, 69, 86);;
    width: auto; /* Adjust the width as needed */
    height: auto; /* Add height property as needed */
    padding: 10px; /* Add padding for better spacing */
    border-radius: 20px;
  }
  
    
  .filters {
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 40px;
    
  }
  
  .filters h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #34495e;
  }
  
  .filters .filter {
    margin-bottom: 10px;
  }
  
  .filters label {
    display: block;
    margin-bottom: 5px;
    color: #34495e;
  }
  
  .filters input,
  .filters select,
  .filters button {
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filters input[type="date"] {
    width: 275px; 
  }
  .filters input[type="number"] {
    width: 275px; 
  }
  .filters select[type="select"] {
    width: 275px; 
  }

  .filters input[type="text"] {
    width: 275px; 
  }
  .filters input[type="file"] {
    width: 275px; 
  }
  
  .filters button {
    background: rgb(224, 69, 86);
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .filters button:hover {
    background: #dc3545;
  }
    
    
    .properties {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .property {
      width: calc(30% - 20px);
      margin-bottom: 20px;
      padding: 15px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
    }
    
    .property img {
      width: 100%;
      border-radius: 8px 8px 0 0;
    }
    
    .property h2 {
      font-size: 20px;
      margin-bottom: 5px;
      color: rgb(224, 69, 86);
    }
    
    .property p {
      margin-bottom: 5px;
      color: #7f8c8d;
    }
    
    .property button {
      padding: 8px 20px;
      background: rgb(224, 69, 86);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;
    }
    
    .property button:hover {
      background: #dc3545;
    }
  
    @media (max-width: 768px) {
      .properties-container {
        display: block;
      }
    
      .filters {
        margin-bottom: 20px;
      }
    
      .properties {
        display: block;
      }
    
      .property {
        width: calc(100% - 40px);
        margin-bottom: 20px;
      }
    }

    
.user-profile {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    
.user-profile h2 {
      margin-bottom: 10px;
      font-size: 24px;
      color: #333;
}
    
.user-profile p {
      margin-bottom: 5px;
      font-size: 16px;
      color: #555;
}